<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %> 
  <main class="bg-slate-950 px-4 py-14 min-h-screen flex flex-col gap-10">
    <div class="col-span-4 flex flex-col gap-8 max-w-xl mx-auto">
      <!-- This is where the post content will go -->
      <div class="bg-slate-800 p-4 rounded-md flex flex-col gap-6">
        <div class="text-slate-50">
          <p class="font-medium"><%= post.author_name%></p>
          <p class="text-sm font-light text-slate-300">Posted on <%= post.created_at %></p>
          <p class="text-sm font-light text-slate-300">Last updated: <%= post.created_at %></p>
        </div>
        <div class="text-slate-100 flex flex-col gap-2">
          <h1 class="text-3xl font-bold"><%= post.title %></h1>
          <p class="whitespace-pre-line"><%= post.body %></p>
        </div>
      </div>
    </div>
    <% if (canEdit) { %>
      <div class="flex gap-6 mx-auto">
        <a class="bg-slate-100 text-slate-900 text-lg font-medium px-6 py-2 block rounded-lg" href="/posts/<%= post.id %>/update">Edit Post</a> 
        <a class="bg-red-700 text-red-50 text-lg font-medium px-6 py-2 block rounded-lg" href="/posts/<%= post.id %>/delete">Delete Post</a> 
      </div>
    <% } %>
  </main>
</body>
</html>